<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link href="../css/headercss.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="container-Header">
            <div class="row">
                <div class="logocms">
                    <h1 class ="cms">Nhóm 11-DynamoDB-CRUD</h1>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <h1 class="people">
                            <i class="fas fa-user"></i> <i class="fas fa-sort-down"></i>
                        </h1>
                    </button>
                    <div class="dropdown-menu">
                        <a href="editprofile.html"><i class="fas fa-user"></i>User Profile</a>
                        <hr />
                        <a href="login.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
            </div>
            <hr style="margin: 0" />
        </div>
    </header>
</body>
</html>