


<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link href="../css/menucss.css" rel="stylesheet" type="text/css">
</head>
<body>
    <aside>
        <div class="container-Menu">
            <form action="#" class="content" method="post">
                <div class="topnav">
                    <!--search-->
                    <input type="text" placeholder="Search..." name="search" value="">
                    <button class="search-button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <hr>
                <div class="menu">
                    <i class="fa fa-table"></i>
                    <p>
                        <b><a href="homepage.html">View Home Page</a></b>
                    </p>
                </div>
                <hr>
                <div class="menu">
                    <i class="fas fa-edit"></i>
                    <p>
                        <b><a href="addemployee.html">View Add Employee</a></b>
                    </p>
                </div>
                <hr>
                <div class="emplty"></div>
            </form>
        </div>
    </aside>
    
</body>
</html>